/* josefin-sans-300 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v23-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v23-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v23-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v23-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v23-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v23-latin-300.svg#JosefinSans") format("svg"); /* Legacy iOS */
}

/* alata-regular - latin */
@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alata-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/alata-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/alata-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/alata-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/alata-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/alata-v7-latin-regular.svg#Alata")
      format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

$black: #000000;
$white: #ffffff;
$josefinSans: "Josefin Sans";
$alata: "Alata";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-image: url(../img/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    background-image: url(../img/desktop/image-hero.jpg);
    height: 650px;
  }
}

.navbar {
  width: 100%;

  &__header-menu {
    &__item {
      list-style-type: none;
      & a {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__wrapper {
    display: flex;
    padding: 40px 24px;
    justify-content: space-between;
    align-items: center;

    & nav {
      display: none;

      @media (min-width: 1024px) {
        display: inline-block;
      }
    }

    &__menu-icon {
      width: 24px;
      height: 16px;
      align-self: center;

      @media (min-width: 1024px) {
        display: none;
      }
    }

    &__header-menu {
      @media (min-width: 1024px) {
        display: flex;
        gap: 20px;
        list-style-type: none;

        &__item {
          color: $white;
        }

        &__link {
          color: $white;
          text-decoration: none;
          font-family: $alata;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    @media (min-width: 1024px) {
      padding: 64px 165px;
    }
  }

  &__title-wrapper {
    width: 327px;
    height: 196px;
    border: 2px solid $white;
    margin: auto;
    align-self: center;

    &__title {
      margin: 0;
      color: $white;
      text-transform: uppercase;
      font-family: $josefinSans;
      font-size: 40px;
      line-height: 38px;
      padding: 24px;

      @media (min-width: 1024px) {
        font-size: 72px;
        line-height: 70px;
        padding: 40px;
      }
    }

    @media (min-width: 1024px) {
      margin: 0;
      width: 650px;
      height: 278px;
      align-self: flex-start;
      margin: 75px 165px;
    }
  }
}

.interactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1340px;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 160px 160px 160px 69px;
    flex-direction: row;
  }

  &__img-wrapper {
    padding: 96px 20px 48px;

    @media (min-width: 1024px) {
      flex: 3;
      padding: 0;
    }

    &__img {
      height: 500px;
    }
  }

  &__content {
    text-align: center;

    @media (min-width: 1024px) {
      background-color: $white;
      flex: 2;
      align-self: flex-end;
      position: relative;
      right: 150px;
      padding: 96px 0 0 96px;
    }

    &__subtitle {
      font-family: $josefinSans;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;

      @media (min-width: 1024px) {
        font-size: 48px;
        line-height: 48px;
        padding: 0 0 25px 0;
        min-width: 400px;
      }
    }

    &__paragraph {
      font-family: $alata;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      mix-blend-mode: normal;
      opacity: 0.5;
      padding: 16px 48px 96px 48px;
      margin: 0;

      @media (min-width: 1024px) {
        padding: 0;
        font-family: Alata;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
  }
}

.creations {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 24px 164px 164px;
      gap: 80px;
    }
  }

  &__subtitle {
    margin: 0;
    padding: 0px 48px 24px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 1024px) {
      padding: 0;
      text-align: start;
    }
  }

  &__btn-wrapper {
    order: 2;
    align-self: center;
    padding: 12px 34px 96px;

    @media (min-width: 1024px) {
      order: unset;
      padding: 0;
      justify-self: end;
    }
  }

  &__button {
    padding: 13px 40px;
    font-family: $alata;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 1px solid $black;
  }

  &__gallery {
    width: 90%;
    max-width: 500px;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/-1;
      gap: 30px;
      width: 100%;
      max-width: unset;
    }

    &__item {
      margin: 24px;
      background-size: cover;

      @media (min-width: 1024px) {
        margin: 0;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      p {
        margin: 0;

        @media (min-width: 1024px) {
          position: relative;
          top: 320px;
        }
      }

      &:nth-child(1) {
        background-image: url(../img/mobile/image-deep-earth.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-deep-earth.jpg);
        }
      }

      &:nth-child(2) {
        background-image: url(../img/mobile/image-night-arcade.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-night-arcade.jpg);
        }
      }

      &:nth-child(3) {
        background-image: url(../img/mobile/image-soccer-team.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-soccer-team.jpg);
        }
      }

      &:nth-child(4) {
        background-image: url(../img/mobile/image-grid.jpg);

        & p {
          width: 31%;

          @media (min-width: 1024px) {
            width: 45%;
          }

          @media (min-width: 1920px) {
            width: 35%;
          }
        }

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-grid.jpg);
        }
      }

      &:nth-child(5) {
        background-image: url(../img/mobile/image-from-above.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-from-above.jpg);
        }
      }

      &:nth-child(6) {
        background-image: url(../img/mobile/image-pocket-borealis.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-pocket-borealis.jpg);
        }
      }

      &:nth-child(7) {
        background-image: url(../img/mobile/image-curiosity.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-curiosity.jpg);
        }
      }

      &:nth-child(8) {
        background-image: url(../img/mobile/image-fisheye.jpg);

        @media (min-width: 1024px) {
          background-image: url(../img/desktop/image-fisheye.jpg);
        }
      }
    }

    &__title {
      width: 45%;
      word-wrap: break-word;
      font-family: $josefinSans;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      color: #ffffff;
      display: block;
      word-wrap: break-word;
      padding: 52px 20px 20px;

      @media (min-width: 1024px) {
        width: 70%;
      }

      @media (min-width: 1920px) {
        width: 45%;
      }
    }
  }
}

.footer {
  background-color: $black;
  width: 100%;

  &__wrapper {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    padding: 56px 115px 32px;

    @media (min-width: 1024px) {
      margin: 0;
      padding: 44px 165px 24px;
    }
  }

  &__nav {
    @media (min-width: 1024px) {
      order: 2;
      margin: 0;
      padding: 0px 165px 24px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 32px;
    }

    &__item {
      list-style-type: none;
      font-family: Alata;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      padding: 0 0 16px 0;

      & a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  &__social {
    text-align: center;
    padding: 16px 0px;

    @media (min-width: 1024px) {
      display: flex;
      gap: 16px;
      padding: 44px 164px 24px;
      justify-self: flex-end;
    }

    &__link {
      padding: 16px;

      @media (min-width: 1024px) {
        padding: 0;
      }
    }
  }

  &__copyright {
    color: $white;
    text-align: center;
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0;
    padding: 0px 56px 56px 56px;

    @media (min-width: 1024px) {
      margin: 0;
      text-align: end;
      order: 4;
      padding: 0 164px 24px;
      justify-self: flex-end;
    }
  }
}
